@using SocialNet.Core.Application.ViewModels.Posts;
@using SocialNet.Core.Application.ViewModels.Comments;
@using System;
@model SavePostViewModel;
@using SocialNet.Core.Application.ViewModels.Users;
@using Microsoft.AspNetCore.Http;
@using SocialNet.Core.Application.Helpers;
@inject IHttpContextAccessor httpContext;

@{
    SaveUserViewModel user = httpContext.HttpContext.Session.Get<SaveUserViewModel>("User");

}
@{

}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f8f9fa;
        }

        .post {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }

        .comment {
            margin-left: 50px;
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 ">
                <div class="card">
                    <div class="card-body" style="background-color: #d1d3d6">

                        <form asp-controller="Home" asp-action="AddPost" enctype="multipart/form-data" class="row align-items-baseline">
                            <div class="form-group col-10">
                                <input asp-for="Caption" type="text" class="form-control form-control-lg" placeholder="¿Qué estás pensando?" />
                                <span asp-validation-for="Caption" class="text-danger"></span>
                            </div>
                            <div class="form-group col-10">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input asp-for="File" type="file" class="custom-file-input" />
                                        <label class="custom-file-label" asp-for="File">
                                            <i class="fas fa-image"></i> Seleccionar imagen
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="IdUser" value="@user.Id" />
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                @{
                    var userPublications = ((List<PostViewModel>)ViewBag.Post)
                    .Where(p => p.IdUser == user.Id)
                    .OrderByDescending(a => a.Date)
                    .ThenByDescending(b => b.Hour)
                    .ToList();

                    if (userPublications.Any())
                    {
                        foreach (PostViewModel post in userPublications)
                        {
                            <div class="card  mb-4">
                                <div class="card-header border-0">
                                    <div class="row align-items-baseline">
                                        <div class="form-group col-8">

                                            <p>@post.Caption</p>
                                        </div>
                                        <div class="col-2">
                                            <a asp-controller="Home" asp-action="DeletePost" asp-route-Id="@post.Id" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-primary">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                @if (post.ImgPost != null)
                                {
                                    <div class="card-body">
                                        <img src="@post.ImgPost" class="img-fluid">
                                    </div>
                                }
                                @if (post.CommentList != null )
                                {
                                    @foreach (var comment in post.CommentList)
                                    {
                                        <div class="card-footer border-end-0">
                                            <div class="media">
                                                <img src="@comment.PhotoUrl" class="rounded-circle mr-2" style="width: 50px; height: 50px;" alt="Foto de perfil">
                                                <div class="media-body">
                                                    <h5 class="mt-0">@comment.UserName</h5>
                                                    <p class="comment">@comment.Content</p>
                                                    <button class="btn btn-sm btn-link">Responder</button>
                                                    <!-- reply -->
                                                    @if (comment.CommentsChild != null )
                                                    {
                                                        @foreach (var childComment in comment.CommentsChild)
                                                        {
                                                            <div class="media mt-3">
                                                                <img src="@childComment.PhotoUrl" class="rounded-circle mr-3" style="width: 50px; height: 50px;" alt="Foto de perfil">
                                                                <div class="media-body">
                                                                    <h5 class="mt-0">@childComment.UserName</h5>
                                                                    <p class="comment">@childComment.Content</p>
                                                                </div>
                                                            </div>
                                                        } 
                                                    }

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }

                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>

</body>
